.db-counter {
    background-color: white;
    padding: 0.65rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    @apply dark:bg-zinc-800 text-white;
    &.New {
        @apply bg-yellow-200 text-shadow-yellow-800;
    }
    &.Open {
        @apply bg-red-400;
    }
    &.Hold {
        @apply bg-blue-400;
    }
    &.Pending {
        background-color: oklch(90.1% 0.076 70.697);
        @apply dark:bg-orange-800;
    }
    &.Received {
        background-color: oklch(92.5% 0.084 155.995);
        @apply dark:bg-green-700;
        .title {
            @apply dark:text-green-300;
        }
        .display {
            @apply dark:text-green-100;
        }
    }
    &.Sandbox {
        background-color: oklch(94.5% 0.129 101.54);
        @apply dark:bg-yellow-700;
        .title {
            @apply dark:text-yellow-300;
        }
        .display {
            @apply dark:text-yellow-100;
        }
    }
    &.Violet {
        background-color: oklch(89.4% 0.057 293.283);
        @apply dark:bg-violet-600;
        .title {
            @apply dark:text-violet-300;
        }
        .display {
            @apply dark:text-violet-100;
        }
    }
    &.Pink {
        background-color: oklch(82.3% 0.12 346.018);
        @apply dark:bg-pink-600;
    }
    &--zd {
        .display {
            color: inherit;
        }
        &.New {
            background-color: oklch(82.8% 0.189 84.429);
            color: white !important;
            .display {
                color: inherit;
            }
        }
        &.Open {
            background-color: oklch(63.7% 0.237 25.331);
            color: white;
            .display {
                color: inherit;
            }
        }
        &.Hold {
            background-color: oklch(68.5% 0.169 237.323);
            color: white;
            .display {
                color: inherit;
            }
        }
    }
    .progressbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 100%;
        background-color: oklch(90.1% 0.076 70.697);
        z-index: 1;
    }

    .display {
        z-index: 2;
        @apply dark:text-violet-200;
        .title {
            font-size: 1.15rem;
            line-height: 1.15rem;
            font-weight: 600;
            margin-bottom: 0.25rem;
        }
        .count {
            font-size: 2.25rem;
            line-height: 2.25rem;
            font-weight: 600;
        }
    }

}
