.db-counter {
    background-color: white;
    padding: 0.65rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    &--zd {
        .display {
            color: inherit;
        }
        &.New {
            background-color: oklch(82.8% 0.189 84.429);
            color: white !important;
            .display {
                color: inherit;
            }
        }
        &.Open {
            background-color: oklch(63.7% 0.237 25.331);
            color: white;
            .display {
                color: inherit;
            }
        }
        &.Hold {
            background-color: oklch(68.5% 0.169 237.323);
            color: white;
            .display {
                color: inherit;
            }
        }
    }
    .progressbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 100%;
        background-color: oklch(90.1% 0.076 70.697);
        z-index: 1;
    }

    .display {
        z-index: 2;
        color: oklch(29.1% 0.149 302.717);
        .title {
            font-size: 1.15rem;
            line-height: 1.15rem;
            font-weight: 600;
            margin-bottom: 0.25rem;
        }
        .count {
            font-size: 2.25rem;
            line-height: 2.25rem;
            font-weight: 600;
        }
    }

}
