.rcf-badge {
    display: inline-block;
    padding: 0.5rem;
    background-color: oklch(96.8% 0.007 247.896);
    color: black;
    border-radius: 0.375rem;
    border: 1Px solid oklch(96.8% 0.007 247.896);
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    &--20 {
        background-color: oklch(79.2% 0.209 151.711);
        color: oklch(98.2% 0.018 155.826);
        border: 2Px solid oklch(92.5% 0.084 155.995);
    }
    &--new {
        background-color: oklch(82.8% 0.189 84.429);
        color: oklch(27.9% 0.077 45.635);
        border: 2px solid oklch(92.4% 0.12 95.746);
    }
    &--open {
        background-color: oklch(63.7% 0.237 25.331);
        color: oklch(97.1% 0.013 17.38);
        border: 2px solid oklch(93.6% 0.032 17.717);
    }
    &--incomplete {
        background-color: oklch(90.5% 0.182 98.111);
        color: oklch(47.6% 0.114 61.907);
        border: 2px solid oklch(97.3% 0.071 103.193);
    }

    &--received {
        background-color: oklch(79.2% 0.209 151.711);
        color: oklch(98.2% 0.018 155.826);
        border: 2Px solid oklch(92.5% 0.084 155.995);
    }
    &--cancelled {
        background-color: oklch(57.7% 0.245 27.325);
        color: oklch(97.1% 0.013 17.38);
    }

    &--pending {
        background-color: oklch(75% 0.183 55.934);
        color: oklch(98% 0.016 73.684);
        border: 2Px solid oklch(95.4% 0.038 75.164)
    }

    &--progress {
        background-color: oklch(59.2% 0.249 0.584);
        color: oklch(94.8% 0.028 342.258);
        border: 2px solid oklch(89.9% 0.061 343.231);
    }
    &--solved {
        background-color: oklch(86.9% 0.005 56.366);
        color: oklch(26.8% 0.007 34.298);
        border: 2px solid oklch(92% 0.004 286.32);
    }
    &--closed {
        background-color: oklch(37% 0.013 285.805);
        color: oklch(87.1% 0.006 286.286);
        border: 2px solid oklch(92% 0.004 286.32)
    }
}
