.btn {
    padding: 0.5rem 1rem;
    //border-radius: 0.2rem;
    //padding: var(--bs-form-control-padding-y) var(--bs-form-control-padding-x);
    &-sm {
        --bs-btn-padding-x: 1rem;
        --bs-btn-padding-y: 0.35rem;
    }
    &-secondary {
        background: oklch(92.9% 0.013 255.508);
        border: 1px solid oklch(86.9% 0.022 252.894);
        color: oklch(37.2% 0.044 257.287);
    }
}
