h1 {
    font-size: 1.5rem !important;
    line-height: 1.5rem !important;
    color: oklch(38% 0.189 293.745);
}

h2 {
    font-size: 1.25rem !important;
    line-height: 1.25rem !important;
    color: oklch(28.3% 0.141 291.089);
}
