.login-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .login-card {
        border: none;
        padding: 4rem;
        width: 32rem;
        border-radius: 1rem;
    }
}

#login-bottom-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    text-align: center;
    color: white;
    background-color: oklch(64.5% 0.246 16.439);
    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

#login-status-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    text-align: center;
    color: white;
    background-color: oklch(76.5% 0.177 163.223);
    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
