.login-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .login-card {
        border: none;
        padding: 4rem;
        width: 32rem;
        border-radius: 1rem;
    }
}
