.sidebar {
    width: 60px;
    background-color: #e8e8ee;
    color: #303048;
    height: 100vh;
    position: fixed;
    ul.sidebar-menu {
        li.sidebar-item {
            a.sidebar-link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 48px;
                color: #303048;
                &:hover {
                    background-color: #cacada;
                }
            }
        }
    }

}
