.sidebar {
    background-color: white;
    width: 4rem;
    color: white;
    height: 100vh;
    position: fixed;
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
    @media (min-width: 1200px) {
        width: 16rem;
    }

    .sidebar-brand {
        width: 100%;
        display: flex;
        color: oklch(64.6% 0.222 41.116);
        background-color: oklch(99% 0.029 294.588);
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 80px;
        text-transform: uppercase;
        border-bottom: 1px solid oklch(89.4% 0.057 293.283);
    }
    .sidebar-content {
        overflow-y: scroll;
        height: calc(100vh - 80px);
        ::-webkit-scrollbar {
            display: none;
        }
    }
    ul.sidebar-menu {
        width: 100%;
        justify-content: center;
        padding: 0.5rem;
        @media (min-width: 1200px) {
            padding: 1rem;
        }
        li.sidebar-item {
            background: white;
            width: 100%;
            margin-bottom: 0.15rem;
            &:last-child {
                margin-bottom: 0;
            }
            .sidebar-link {
                width: 3rem;
                height: 3rem;
                text-align: center;
                align-items: center;
                justify-content: center;
                display: flex;
                text-decoration: none;
                background-color: white;
                color: oklch(28.3% 0.141 291.089);
                border-radius: 0.375rem;
                font-weight: 500;
                @media (min-width: 1200px) {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    gap: 0.5rem;
                    height: auto;
                    text-align: left;
                    padding: 0.5rem 0.75rem;
                }
                &:hover {
                    width: 100%;
                    background: oklch(94.3% 0.029 294.588);
                    color: oklch(64.6% 0.222 41.116);
                }
                &.active {
                    background-color: oklch(43.2% 0.232 292.759);
                    color: white;
                }
                &__label {
                    display: none;
                    @media (min-width: 1200px) {
                        display: inline-block;
                    }
                }
                &--logout {
/*                    background-color: oklch(51.4% 0.222 16.935);
                    color: white;
                    border: 0;
                    &:hover {
                        background-color: oklch(58.6% 0.253 17.585);
                        color: white;
                    }*/
                }
            }
        }
    }
}
