.text-orange-50 {color: oklch(98% 0.016 73.684);}
.text-orange-100 {color: oklch(95.4% 0.038 75.164);}
.text-orange-200 {color: oklch(90.1% 0.076 70.697);}
.text-orange-300 {color: oklch(83.7% 0.128 66.29);}
.text-orange-400 {color: oklch(75% 0.183 55.934);}
.text-orange-500 {color: oklch(75% 0.183 55.934);}
.text-orange-600 {color: oklch(64.6% 0.222 41.116);}
.text-orange-700 {color: oklch(55.3% 0.195 38.402);}
.text-orange-800 {color: oklch(47% 0.157 37.304);}
.text-orange-900 {color: oklch(40.8% 0.123 38.172);}
.text-orange-950 {color: oklch(26.6% 0.079 36.259);}
