@import "bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "popovers";

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
) !default;

@view-transition {
    navigation: auto;
}


//$theme-colors: map-merge($theme-colors, $custom-colors);

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --sidebar-width: 14rem;
    --bs-table-border-color: white;
}
@import "root";
@import "fonts";
@import "h";
@import "sidebar";
@import "hr";
@import "section";
@import "card";
@import "table";
@import "panels";
@import "button";
@import "form";
@import "badge";
@import "_login.scss";
@import "_list.scss";
@import "tailwind-colors";
@import "restore-zone.scss";
@import "_danger-zone.scss";
@import "reports";
@import "tinycard";
@import "alert";
:root {
    --sidebar-width: 14rem;
}

@import "layout";
@import "rcf/card";
@import "rcf/badge";
@import "_pagination.scss";

@import "dashboard/_counter.scss";

body {
    font-family: "Golos", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: oklch(0.942 0.019 289.321);
    font-size: 14px;
    border: var(--rcf-body-border-width) solid black;
    min-height: 100vh;
}

#main {
    border-radius: 0.25rem 0.75rem 0.75rem 0.25rem;
    border: 0px solid black;
    margin-left: var(--rcf-sidebar-width);
    @media (min-width: 1200px) {
        --rcf-sidebar-width: 16rem;
        margin-left: var(--rcf-sidebar-width);
    }
}
h1 {
    font-size: 2.5rem;
    line-height: 48px;
    margin-bottom: 0;
    font-weight: 700;
    font-family: "Golos", sans-serif;
}
h2 {
    font-size: 1.75rem;
    font-family: "Golos", sans-serif;
}

.page-header {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    z-index: 200;
    border-bottom: 1px solid oklch(81.1% 0.111 293.571);
    .form-control {
        width: 120px;
        transition: 200ms ease-out;
        &:focus {
            width: 360px;
            border-color: oklch(43.2% 0.232 292.759);
        }
    }
    .page-header-content {
        padding: 1rem 1.5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}
.page-content {
    padding: 1rem;
}
