@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --sidebar-width: 14rem;
    --bs-table-border-color: white;
}
@import "root";
@import "fonts";
@import "h";
@import "sidebar";
@import "hr";
@import "section";
@import "card";
@import "table";
@import "panels";
@import "button";
@import "form";
@import "badge";
@import "_login.scss";
@import "_list.scss";
@import "tailwind-colors";
@import "restore-zone.scss";
@import "_danger-zone.scss";
@import "reports";
@import "tinycard";
@import "alert";
:root {
    --sidebar-width: 14rem;
}

@import "layout";
@import "rcf/card";
@import "rcf/badge";
@import "_pagination.scss";

body {
    font-family: "Golos", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: oklch(96.7% 0.003 264.542);
    font-size: 14px;
    border: var(--rcf-body-border-width) solid black;
    min-height: 100vh;
}

#main {
    border-radius: 0.25rem 0.75rem 0.75rem 0.25rem;
    border: 0px solid black;
    margin-left: var(--rcf-sidebar-width);
    @media (min-width: 1200px) {
        --rcf-sidebar-width: 16rem;
        margin-left: var(--rcf-sidebar-width);
    }
}
h1 {
    font-size: 2.5rem;
    line-height: 48px;
    margin-bottom: 0;
    font-weight: 700;
    font-family: "Golos", sans-serif;
}
h2 {
    font-size: 1.75rem;
    font-family: "Golos", sans-serif;
}

.page-header {
    padding: 1rem 1.25rem;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
.page-content {
    padding: 1rem;
}
