.badge {
    @apply px-3 py-2 rounded inline-block bg-slate-100 text-shadow-slate-800 text-center font-semibold;
    &.incomplete {
        @apply bg-yellow-100 text-yellow-700;
    }
    &.pending {
        @apply bg-orange-100 text-orange-700;
    }
    &.received {
        @apply bg-green-200 text-green-700;
    }
    &.in_progress {
        @apply bg-sky-200 text-sky-800;
    }
    &.closed {
        @apply bg-gray-200 text-gray-800;
    }
}

.paused {

}

.closed {

}

.bg {
    &.-incomplete {
        @apply bg-yellow-50;
    }
    &.-pending {
        @apply bg-orange-50;
    }
    &.-received {
        @apply bg-green-50;
    }
    &.-in_progress {
        @apply bg-sky-50;
    }
    &.-closed {
        @apply bg-gray-100;
    }
}
