.badge {
    @apply px-3 py-2 rounded inline-block bg-slate-100 text-shadow-slate-800 text-center font-semibold;
    &.incomplete {
        @apply bg-yellow-100 text-yellow-700;
    }
    &.pending {
        @apply bg-orange-100 text-orange-700;
    }
    &.received {
        @apply bg-green-200 text-green-700;
    }
    &.in_progress {
        @apply bg-sky-200 text-sky-800;
    }
    &.closed {
        @apply bg-gray-200 text-gray-800;
    }
    &.new {
        @apply bg-yellow-200 text-yellow-800;
    }
    &.open {
        @apply br-red-200 text-red-800;
    }
}

.badge-small {
    @apply inline-flex md:inline-block px-2 py-1 bg-slate-100 md:w-full mb-1.5 rounded font-bold text-center text-xs;
}

.bg__new {
    @apply bg-yellow-50 border-1 border-yellow-200;
}
.bg__open {
    @apply bg-red-50 border-1 border-red-200;
}
.bg__solved {
    @apply bg-slate-50 border-1 border-slate-200;
}
.bg__init {
    @apply bg-white;
}
.bg__incomplete {
    @apply bg-yellow-50 border-1 border-yellow-200;
}
.bg__pending {
    @apply bg-orange-50 border-1 border-orange-200;
}
.bg__received {
    @apply bg-green-50 border-1 border-green-200;
}
.bg__in_progress {
    @apply bg-sky-50 border-1 border-sky-200;
}
.bg__closed {
    @apply bg-gray-100 border-1 border-gray-300;
}
