.fields-group {
    margin-bottom: 2rem;
    padding: 1rem;
}
.form-label {
    @apply text-violet-900 inline-block mb-1;
}
.form-control {
    @apply bg-white py-2 sm:py-2 px-3 block w-full border-blue-500 border-1 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none appearance-none;

    &--success {
        background-color: oklch(92.5% 0.084 155.995);
        border: 1px solid oklch(0.627 0.194 149.214);
        &:focus {
            background: oklch(87.1% 0.15 154.449);
        }
    }
    &--danger {
        border-color: oklch(51.4% 0.222 16.935);
        background-color: oklch(81% 0.117 11.638);
        &:focus {
            background: oklch(71.2% 0.194 13.428);
        }
    }
    &--pill {
        border-radius: 4rem !important;
        border-width: 2px !important;
    }
    &-xs {
        font-size: 0.75rem;
        padding: 0.35rem 0.65rem;
        border-radius: 0.2rem;
    }
}
