.pagination {
    --bs-pagination-color: black;
    --bs-pagination-active-bg: oklch(64.6% 0.222 41.116);
    --bs-pagination-active-color: white;
    --bs-pagination-hover-bg: black;
    --bs-pagination-hover-color: white;
    --bs-pagination-border-color: oklch(96.7% 0.003 264.542);
    --bs-pagination-active-border-color: oklch(96.7% 0.003 264.542);
    --bs-pagination-disabled-border-color: oklch(96.7% 0.003 264.542);
}
