@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'bootstrap-icons';
@import "./_root.scss";
@import "./_fonts.scss";
@import "./_h.scss";
@import "./_sidebar.scss";
@import "./_hr.scss";
@import "./_section.scss";
@import "./_card.scss";
@import "./_table.scss";
@import "./_panels.scss";
@import "./_button.scss";
@import "./_form.scss";
@import "./_badge.scss";
@import "./_login.scss";
@import "./_list.scss";

@import "./_alert.scss";
@import "./_tinycard.scss";
@import "./_reports.scss";
@import "./_restore-zone.scss";
@import "./_danger-zone.scss";

@import "./_layout.scss";
@import "./rcf/_card.scss";
@import "./rcf/_badge.scss";
@import "./_pagination.scss";

@import "./dashboard/_counter.scss";

@import "tailwindcss";

.form-control {
    @apply rounded border-violet-300 ring-0 leading-tight focus:border-orange-500 outline-none focus:outline-none focus:ring-0 transition-all;
}

.cancel {
    @apply px-2 py-1 rounded-md text-white font-semibold text-xs outline-none bg-orange-600 hover:bg-orange-500 cursor-pointer;
}
.violet {
    @apply px-3 py-2 rounded text-white bg-violet-600 hover:bg-violet-500 cursor-pointer;
}

.sidebar-link {
    @apply text-violet-950 hover:bg-violet-100 hover:text-orange-600;
}

/*@source "..!**!*.{js,jsx,ts,tsx,vue}";
@source "../../app/Models!*.{php}";
@source "../../app/Models!**!.{php}";
@source "../../app/Models/Traits/Attribute/ProdctReportAttribute.php";*/

@view-transition {
    navigation: auto;
}

:root {
    --sidebar-width: 14rem;
    --bs-table-border-color: white;
}

:root {
    --sidebar-width: 14rem;
}

body {
    font-family: "IBM Plex Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: oklch(0.942 0.019 289.321);
    font-size: 14px;
    border: var(--rcf-body-border-width) solid black;
    min-height: 100vh;
}

#main {
    border-radius: 0.25rem 0.75rem 0.75rem 0.25rem;
    border: 0px solid black;
    margin-left: var(--rcf-sidebar-width);
    @media (min-width: 1200px) {
        --rcf-sidebar-width: 16rem;
        margin-left: var(--rcf-sidebar-width);
    }
}

.page-header {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    z-index: 200;
    border-bottom: 1px solid oklch(81.1% 0.111 293.571);

    .form-control {
        width: 120px;
        transition: 200ms ease-out;

        &:focus {
            width: 360px;
            border-color: oklch(43.2% 0.232 292.759);
        }
    }

    .page-header-content {
        padding: 1rem 1.5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}

.page-content {
    padding: 1rem;
}
